@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.fontExo2{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.fontMontserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fontBebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textShadow {
    text-shadow: 0px 2px 5px hsla(0, 0%, 0%, .3);
}

.mimiBox{
    filter: blur(10px);
}

.helloBlur {
    backdrop-filter: saturate(140%)
    blur(5px);
}


.shadow {
    box-shadow: 0px 2px 5px hsla(0,0%,0%,.3);
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px hsla(0,0%,0%,.2); 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsla(0,0%,0%,.2); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsla(0,0%,0%,.2); 
  }



 /** @media (width <= 550px) {
    .mimiBox{
      filter: blur(5px);
    }
  }
  */

