@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Glass+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.fontGlass {
    font-family: "Glass Antiqua", cursive;
    font-weight: 100;
    font-style: normal;
}

.fontMontserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fontBebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}